#----- Git Ignore File -----#

# Data directory 


# Figs directory 


# Docs directory
docs/

# Src directory
src/*.asv

# Tools directory
tools/EO_file_processing/*.asv
tools/aircraft_stability/*.asv
tools/vignette_removal/*.asv
tools/georeferencing/*.asv

